<app-intro [intro]="intro"></app-intro>
<app-goals [goals]="goals"></app-goals>
<app-newsletter (newsletterEmmit)="subscribeNewsletter($event)"></app-newsletter>
<div *ngIf="newsletter != null">
    <p class="confirmation">{{newsletter.name}}, welcome to our newsletter!</p>

</div>