<div class="newsletter">
    <h1>Join to our newsletter!</h1>
    <div class="newsletter__form-container">
        <form autocomplete="off" novalidate (ngSubmit)="onSubmit()" [formGroup]="newsletterForm">
            <fieldset>
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name">
                <div *ngIf="!newsletterForm.get('name').valid && newsletterForm.get('name').dirty || submitted">
                    <p>Incorrect name</p>
                </div>
            </fieldset>
            <fieldset>
                <label for="surname">Surname:</label>
                <input type="text" id="surname" formControlName="surname">
                <div *ngIf="!newsletterForm.get('surname').valid && newsletterForm.get('surname').dirty || submitted">
                    <p>Incorrect surname</p>
                </div>
            </fieldset>
            <fieldset>
                <label for="mail">Email:</label>
                <input type="email" id="mail" formControlName="mail">
                <div *ngIf="!newsletterForm.get('mail').valid && newsletterForm.get('mail').dirty || submitted">
                    <p>Incorrect email</p>
                </div>
            </fieldset>
            <fieldset>
                <label for="phone">Phone number:</label>
                <input type="number" id="phone" formControlName="phone">
                <div *ngIf="!newsletterForm.get('phone').valid && newsletterForm.get('phone').dirty || submitted">
                    <p>Incorrect phone number</p>
                </div>
            </fieldset>
            <button type="submit" [disabled]="!newsletterForm.valid">Submit</button>
        </form>
    </div>
</div>