.newsletter {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: cadetblue;
    h1 {
        color: cadetblue;
    }

    &__form-container {
        width: 65%;
        margin-top: 2%;

        fieldset {
            border-style: none;
            margin-top: 2%;

            input {
                border-color: cadetblue;
                border-style: dashed;
                height: 50%;
                height: 23px;
                margin-top: 1%;
            
            }

            
    }

    button {

    margin-top: 3%;
    width: 200px;
    height: 34px;
    background-color: cadetblue;
    color: antiquewhite;
    }
}
}