.goals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__eleph-img {
    width: 100%;
    height: 1000px;
    background-image: url("../../../../assets/img/801287.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 576px) {
      height: 1900px;
    }
  }

  &__container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: x-large;
    width: 83%;
    color: antiquewhite;
    background-color: cadetblue;
    margin-top: 7%;

    .logo-box {
      width: 50px;
      height: 50px;
      margin-top: 3%;
      .logo {
        width: 100%;
      }
    }

    p {
      padding-top: 2%;
      padding-right: 4%;
      padding-bottom: 6%;
      padding-left: 4%;
      width: 83%;
    }
  }

  &__lion-img {
    margin-top: 10%;
    width: 100%;
    height: 900px;
    background-image: url(../../../../assets/img/safari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 576px) {
      height: 2000px;
    }
  }
}
