<div class="goals">
    <div class="goals__eleph-img"></div>
    <div class="goals__container-item">
        <span class="logo-box">
            <img class="logo" src="{{goals.imgGoals1.urlImg}}" alt="{{goals.imgGoals1.altImg}}">
        </span>
        <h3>{{goals.titleGoals1}}</h3>
        <p>{{goals.descriptionGoals1}}</p>
    </div>
    <div class="goals__container-item">
        <span class="logo-box">
            <img class="logo" src="{{goals.imgGoals2.urlImg}}" alt="{{goals.imgGoals2.altImg}}">
        </span>
        <h3>{{goals.titleGoals2}}</h3>
        <p>{{goals.descriptionGoals2}}</p>
    </div>
    <div class="goals__container-item">
        <span class="logo-box">
            <img class="logo" src="{{goals.imgGoals3.urlImg}}" alt="{{goals.imgGoals3.altImg}}">
        </span>
        <h3>{{goals.titleGoals3}}</h3>
        <p>{{goals.descriptionGoals3}}</p>
    </div>
    <div class="goals__container-item">
        <span class="logo-box">
            <img class="logo" src="{{goals.imgGoals4.urlImg}}" alt="{{goals.imgGoals4.altImg}}">
        </span>
        <h3>{{goals.titleGoals4}}</h3>
        <p>{{goals.descriptionGoals4}}</p>
    </div>
    <div class="goals__lion-img"></div>
</div>