<div class="intro">
    <div class="intro__title-container">
        <span class="logo-container">
            <img src="{{intro.logo.urlImg}}" alt="{{intro.logo.altmg}}" class="logo">
        </span>
        <div class="title-container">
            <h1 class="title">{{intro.titleIntro}}</h1>
        </div>
    </div>
    <div class="intro__description-container">
        <p><strong>{{intro.descriptionIntro}}</strong></p>
    </div>
</div>