.intro {
  width: 100%;

  &__title-container {
    background-image: url("../../../../assets/img/hipo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 456px;
    .logo {
      width: 150px;
      height: 70px;
      margin: 2%;
    }


    .title-container {
      margin-bottom: 1%;
      font-size: x-large;
      color: antiquewhite;

      .title {
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;

        &:hover {
          background-size: 100% 88%;
        }
      }
    }
  }

  &__description-container {
    width: 75%;
    font-size: xxx-large;
    margin-bottom: 7%;

      p {
          padding-top: 8%;
          color: cadetblue;
      }
  }
}
